body {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  flex-direction: column;
  font-family: cursive;
  background-color: #f1f2f1;
}
/* // #f0f2f5; */
main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0;
  min-height: 87vh;
}
