<section id="offerDetails" *ngIf="offer">
  <div class="game-cover-area">
    <img [src]="offer.imageUrl" [alt]="offer.name" class="game-cover" />
  </div>

  <div class="game-info-area">
    <span class="game-tag">Jogo base</span>

    <h1>{{ offer.name }}</h1>

    <p class="game-description">
      {{
        offer.description ||
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      }}
    </p>

    <div class="game-details-box">
      <p><strong>Desenvolvedora:</strong> {{ offer.developer }}</p>
      <p><strong>Distribuidora:</strong> {{ offer.publisher }}</p>
      <p><strong>Categoria:</strong> Ação / Combate Aéreo</p>
    </div>

    <p class="game-price">R$ {{ offer.priceBase | number: '1.2-2' }}</p>
    <p *ngIf="alreadyBought">✓ Você já possui este jogo</p>

    <button
      type="button"
      id="addToCart"
      (click)="addToCart()"
      [disabled]="alreadyBought"
      *ngIf="!alreadyBought"
    >
      Adicionar ao Carrinho
    </button>
    <button type="button" class="backButton" (click)="goBack()">Voltar para ofertas</button>
  </div>
</section>
